.fill-box {
    background-color: rgb(211, 35, 39);
    color: white;
}

.no-fill-box {
    color: rgb(211, 35, 39);
    background-color: white;
}

.align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.stepbox-layout {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(211, 35, 39);
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0px 5px;
    min-width: 120px;
    transition: 0.3s;
    
    span {
        text-align: center;
    }

    .content {
        font-weight: 600;
    }
}

.triangle {
    padding-left: 15px;
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-left: 10px solid rgb(211, 35, 39);
}